@model IBook
@{
    ViewBag.Title = "书籍查询页";
}

    <form asp-controller="home" asp-action="search" method="post" class="m-4">
        <div class="form-group row justify-content-center">
            <div class="col-sm-6 col">
                <input asp-for="BookName" class="form-control" placeholder="请输入书籍名称" />

                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="col-sm-auto">
                <button type="submit" class="btn btn-primary">查询</button>
            </div>
        </div>
    </form>
